* {
  box-sizing: border-box;

}

body {
        margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.navbar {
  overflow: hidden;
  height: 6rem;
  box-shadow: 0 0.5rem 1rem rgba(122, 111, 111, 0.3);
}

.navbar a {
    float: left;
    display: block;
    color: rgb(18, 18, 18);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    height: 100%;
  }
  
  .navbar a:hover {
    background-color: #111;
    color: white;
  }
  
  .navbar a.active {
    background-color: #747c75;
    color: white;
  }
  