<div class="navbar">

    <a [routerLink]="['inicio']" routerLinkActive="active">Inico</a>
    <a [routerLink]="['fotos']" routerLinkActive="active">Menu</a>
    <a [routerLink]="['productos']" routerLinkActive="active">Servicio</a>
    <a [routerLink]="['promociones']" routerLinkActive="active">Reclamos</a>

</div>